body{
    background-color: #f5f5f5;
}

.container-base {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    width: 100%;
}

.navbar-brand{
    margin-right: 5%;
}

.logout{
    margin-right: 10%;
}

.space-between {
	justify-content: space-between;
}

.space-around {
	justify-content: space-around;
}

.flex{
    display: flex;
}

.flex-start {
	justify-content: flex-start;
}

.subtitle{
    color: #928e8a;
    margin-top: 3%;
    margin-bottom: 3%;
    display: flex;
}

.footer{
    background-color: #f8f9fa;
    color: #928e8a;
    margin-top: auto;
    height: 100px;

}

.content{
    margin-bottom: 5%;
}

.pointer{
    cursor: pointer;
}

.table-center{
    text-align: center;
}